<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>bear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>bear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>bear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>bear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>bear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bearframes.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cf780539cb8e9bb6d12022a6d7f8466$</string>
            <key>textureFileName</key>
            <string>bearframes.png</string>
        </dict>
    </dict>
</plist>
