<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>box2d-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>box2d-mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>chipmunk-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>chipmunk-mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>chipmunk-spacemanager-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>chipmunk-spacemanager-mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>cocos2d-extensions-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>cocos2d-extensions-mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>cocos2d-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cocos2d-mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cocos3d-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cocosdenshion-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>cocosdenshion-mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>kobold2d-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>kobold2d-mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>objectal-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>sneakyinput-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>wax-ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>wax-mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCA6154813A930F400D781D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCA617C213A935A500D781D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCA617CE13A935AF00D781D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCA6184213A9399600D781D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCCC3FB113A923F700EE6641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCCC3FBD13A9240100EE6641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCCC40CE13A926A400EE6641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCCC40DA13A926B100EE6641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD4EE313A9126300EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD4EEF13A9126B00EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD509113A9175B00EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD509D13A9176400EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD50F513A9195C00EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD510113A9196700EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD51F313A91B0900EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD527C13A91BC200EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDD528813A91BCB00EC4F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCECA97B13A90BF500788FBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCECA98713A90C2200788FBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
